<div class="login-container">
    <img class="pic" src='../../assets/signup.jpg' alt="signup">
    <img class="back" src='../../assets/back.png' alt="back">
    <div class="form">
        <div class="username">
            <input type="text" id="username" name="username" placeholder="Username">
        </div>
        <div class="email">
            <input type="text" id="username" name="username" placeholder="Email">
        </div>
        <div class="password">
            <input type="text" id="password" name="password" placeholder="Password">      
        </div>
        <div class="Cpassword">
            <input type="text" id="Cpassword" name="Cpassword" placeholder="Confirm Password">      
        </div>
    </div>
    <div class="other">
        <div class="camera">
            <img src='../../assets/picture.png' alt="picture">
        </div>
        <div class="edit">
            <img src='../../assets/editpic.png' alt="edit">
            <label><input type="checkbox" id="default" name="default">Generate default photo</label>
        </div>
        <div class="checkboxes">
            <label><input type="checkbox" id="analystecheck" name="analystecheck">Analyst</label>
            <label><input type="checkbox" id="admincheck" name="admincheck">Admin</label>
        </div>
        <label><input type="checkbox" id="check" name="check">I agree with privacy and policy</label>
        <button type="signup">SIGNUP</button>
    </div>
    <app-footer></app-footer>
</div>

